.header
    background: #5E44E3
    border-radius: 0 0 0 20px

.container
    width: 1200px
    margin: 0px auto

.header_wrapper
    display: flex
    justify-content: space-between
    padding: 23px 0px
    position: relative

.pointer
    cursor: pointer
    display: inline-block

.help
    width: 400px
    height: 110px
    background: white
    border-radius: 10px
    position: absolute
    right: 0px
    opacity: 0
    & p
        color: black
        margin: 32px 32px 32px 32px

.span
    color: #5E44E3

.menu:hover .help
    opacity: 1
