@font-face
    font-family: NotoSerifMedium
    src: url(../fonts/NotoSerif-Medium.ttf)

@font-face
    font-family: NotoSansRegular
    src: url(../fonts/NotoSans-Regular.ttf)

.header
    background: #396AEB
    border-radius: 0 0 0 20px

.container
    width: 1200px
    margin: 0px auto

.header_wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 35px 0px
    
        

.menu
    cursor: pointer
    a
        margin: 0px
        color: #fff
        text-decoration: none
        font-family: NotoSansRegular


.span
    color: #396AEB

.number_of_question
    font-family: NotoSerifMedium
    margin-left: 25px

.choose p
    margin-left: 35px
    font-size: 16px

.textarea
    background: 0px
    margin-left: 35px
    border: none
    width: 600px
    height: 20px
    font-family: NotoSansRegular
    resize: vertical
    font-size: 16px

.choose label
    display: block

.table_wrapper
    display: table

.choose label:first-child
    margin-top: 60px

.circle
    width: 20px
    height: 20px
    border-radius: 50%
    border: 1px solid #396AEB

.active
    background: blue

.input
    display: none



.topic_wrapper 
	// display: flex
	// justify-content: flex-start
    background: #fff
    height: 100px
    // width: 1000px


.book_wrapper
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap


.question_wrapper

    p
        color: #000
    h3  
        color: #000

.question_mode
    display: flex
    justify-content: space-between
    align-items: center
    width: 254px    

.var_wrapper
    display: flex
    justify-content: space-between
    align-items: center
    width: 268px

