.wrapper
  display: flex
  justify-content: flex-start
  overflow: hidden

@font-face
  font-family: NotoSansRegular
  src: url(../fonts/NotoSans-Regular.ttf)


@font-face
  font-family: NotoSerifMedium
  src: url(../fonts/NotoSerif-Medium.ttf)

.flex_wrapper
  display: flex
  justify-content: flex-start
  width: 1100px
  align-items: center
  flex-flow: row wrap

.content_wrapper
  width: 100%

.books
  width: 92%
  margin: 30px auto 0 auto
  border-radius: 8px
  background: white
  font-family: NotoSansRegular
  font-weight: 100


  & h2
    font-size: 25px
    margin-top: 0px
    padding-top: 30px
    margin-left: 25px
    margin-bottom: 35px
    text-align: left
    font-family: NotoSerifMedium

.materials_wrapper
  margin: 30px auto 0px auto
  width: 1141px
  /* border-radius: 8px; */
  /* background: white; */

.add
  width: 20px
  height: 20px
  margin-bottom: 36px
  margin-top: -6px
  margin-left: 20px


  & label
    cursor: pointer


  &1
    width: 20px
    height: 20px
    margin-bottom: 25px
    margin-left: 20px
    cursor: pointer

.materials_wrapper h2
  margin-bottom: 0px
